<section id="head" layout="column" class="fixed-header">
	<div ng-include="'templates/header.html'" class="header-bg pd8-TB"></div> 
</section>

<section id="banner" layout="column" class="push-60-t">
	<div flex="70" layout="row" layout-align="start center" class="cover-image about">
		<!-- <div flex layout="column"  layout-align="center center" align="center" class="white-color">
			<h1 class="md-display-1 mrg8-T mrg0-B" style="color: #29303a;">LOREM IPSUM DOLOR SIT AMET, <br>CONSECTETUR ADIPISCING ELIT</h1>
			<h3 class="md-body-1 mrg8-T">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>
			tempor incididunt ut labore et dolore magna aliqua.</h3>
		</div> -->
	</div>
</section>

<!-- <section id="search_and_download" layout="row" style="min-height: 150px;">
	<div flex-gt-sm="50" flex="100" layout="column" layout-align="center center" style="background-color: #29303a;">
		<div>
			<p class="white-color mrg8-TB">Product Search</p>
			<div layout="row">
				<input type="text" name="search1" style="max-width : 140px; margin-right: 6px; border-radius: 10px; padding: 8px; font-size: 12px; height: 24px;">
				<input type="text" name="search2" style="max-width : 90px; margin-right: 6px; border-radius: 10px; padding: 8px; font-size: 12px; height: 24px;">
				<input type="text" name="search3" style="max-width : 90px; margin-right: 6px; border-radius: 10px; padding: 8px; font-size: 12px; height: 24px;">
				<input type="text" name="search4" style="max-width : 90px; margin-right: 6px; border-radius: 10px; padding: 8px; font-size: 12px; height: 24px;">
			</div>
		</div>
	</div>
	<div flex-gt-sm="50" flex="100" layout="column" layout-align="center center" style="background-color: #454f5d;">
		<md-button style="color: #fff;">E-BROUCHER</md-button>
	</div>
</section> -->

<section id="content" class="push-70-b" layout="row">
		<div layout="column" layout-align="center center">
			<h2 class="grey-color head-font push-70-t md-title head-after" align="center">About Us</h2>
			<p class="para-l-height md-body-1 pd0-TB mrg0-TB width-r-70 head-desc text-center">Patco Liners Pvt. Ltd. is an ISO 9001:2015 certified leading manufacturer and exporter of Wet & Dry Cylinder Liners, Sleeves, Air – Water Cooled Blocks & Valve train components for automobile , Tractor , Truck , Generator and industrial engine applications.</p>
			<p class="para-l-height md-body-1 pd0-TB mrg0-TB width-r-70 head-desc text-center">We are in this business for past 24 years and now produce over 1.10 million cylinder liners per year. We take great pride in our more than 180 plus employees, who are well experienced and technically qualified to produce highest quality product. Our commitment to quality permits us to use only the latest and best technology at our state-of-the-art manufacturing facility.</p>
			<p class="para-l-height md-body-1 pd0-TB mrg0-TB width-r-70 head-desc text-center push-30-t">PATCO Founded by Shri Purshottam Patel in Ahmedabad,Gujarat, India, PATCO has developed an enviable history of innovative engineering, efficient production and uncompromising quality.</p>
			<p class="para-l-height md-body-1 pd0-TB mrg0-TB width-r-70 head-desc text-center push-30-t">PATCO has always been able to maintain a very high standard of quality in exports and has acquired a formidable reputation worldwide. Our success has been driven by accepting, and meeting, the varied manufacturing challenges our customers demand. We strive to exceed customer expectations in quality, delivery and service as we build long-term relationships based on exceptional customer satisfaction. This innovativeness and acumen resulted in the sale of indigenous products amidst stiff competition of world renowned brands. Having saturated the Indian market, PATCO LINERS PVT LTD, entered the international market in 1998.</p>


			<h2 class="grey-color head-font push-70-t md-title head-after" align="center">Our Values &amp; Philosophy</h2>
			<div layout="row" layout-wrap>
				<div flex-xs="0" flex="15"></div>
				<div flex-xs="100" flex="20" class="text-center">
	        		<h3 class="inner-head">Our Vision</h3>
	     		    <p class="head-desc">To be the preferred OEM and after Market Manufacturer and supplier of Quality Cylinder Liners, Sleeves and Air Cooled Blocks capable of catering to customers requirement.</p>
	 		    </div>
	 		    <div flex-xs="0" flex="5"></div>
	 		    <div flex-xs="100" flex="20" class="text-center">
	        		<h3 class="inner-head">Our Mission</h3>
	        		<p class="head-desc">We will be determined to convey esteem included answers for worldwide markets through consistent change in the nature of our item desires.</p>
	    		</div>
	    		<div flex-xs="0" flex="5"></div>
	        	<div flex-xs="100" flex="20" class="text-center">	
	            	<h3 class="inner-head">Our Values</h3>
	        		<p class="head-desc">We are ISO Certifite company and also been awarded the ISO 90001: 2015 certificate.</p>
	    		</div>
	    		<div flex-xs="0" flex="15"></div>
    		</div>

			<h2 class="grey-color head-font push-70-t md-title head-after" align="center">Commitment to Quality</h2>
        		<h3 class="para-l-height md-body-1 pd0-TB mrg0-TB width-r-70 inner-head text-center">An unparalleled commitment to quality for more than  23 years</h3>
	            <p class="para-l-height md-body-1 pd0-TB mrg0-TB width-r-70 head-desc text-center push-30-t">Patco is certified to the ISO 9001:2015 Quality System and is one of the most respected brands for exceptional quality and value. With consistent leadership for over 23 years, Patco  has been exceeding customer satisfaction through exceptional customer service, continuous process and quality improvement efforts and product leadership. Our prosperity has been driven by tolerating, and meeting, the differed producing challenges our clients request. We endeavor to surpass client desires in quality, conveyance and administration as we assemble long haul connections in view of excellent consumer loyalty.</p>
		</div>	
</section>

<section id="footer" ng-include="'templates/footer.html'"></section>