<section id="head" layout="column" class="fixed-header">
	<div ng-include="'templates/header.html'" class="header-bg pd8-TB"></div> 
</section>

<section id="banner" layout="column" class="push-60-t">
	<div flex="50" layout="row" layout-align="start center" class="cover-image contact">
		<!-- <div flex layout="column"  layout-align="center center" align="center" class="white-color">
			<h1 class="md-display-1 mrg8-T mrg0-B" style="color: #29303a;">LOREM IPSUM DOLOR SIT AMET, <br>CONSECTETUR ADIPISCING ELIT</h1>
			<h3 class="md-body-1 mrg8-T">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>
			tempor incididunt ut labore et dolore magna aliqua.</h3>
		</div> -->
	</div>
</section>

<!-- <section id="search_and_download" layout="row" style="min-height: 150px;">
	<div flex-gt-sm="50" flex="100" layout="column" layout-align="center center" style="background-color: #29303a;">
		<div>
			<p class="white-color mrg8-TB">Product Search</p>
			<div layout="row">
				<input type="text" name="search1" style="max-width : 140px; margin-right: 6px; border-radius: 10px; padding: 8px; font-size: 12px; height: 24px;">
				<input type="text" name="search2" style="max-width : 90px; margin-right: 6px; border-radius: 10px; padding: 8px; font-size: 12px; height: 24px;">
				<input type="text" name="search3" style="max-width : 90px; margin-right: 6px; border-radius: 10px; padding: 8px; font-size: 12px; height: 24px;">
				<input type="text" name="search4" style="max-width : 90px; margin-right: 6px; border-radius: 10px; padding: 8px; font-size: 12px; height: 24px;">
			</div>
		</div>
	</div>
	<div flex-gt-sm="50" flex="100" layout="column" layout-align="center center" style="background-color: #454f5d;">
		<md-button style="color: #fff;">E-BROUCHER</md-button>
	</div>
</section> -->

<section id="inquiry" ng-include="'templates/inquiry.html'"></section>

<section id="map" ng-include="'templates/map.html'"></section>

<section id="footer" ng-include="'templates/footer.html'"></section>