<section id="head" layout="column" class="fixed-header">
  <div ng-include="'templates/header.html'" class="header-bg pd8-TB"></div> 
</section>

<section id="banner" layout="column" class="push-60-t">
  <div flex="60" layout="row" layout-align="start center" class="product-banner" style="background-position: center;">
    <!-- <div flex layout="column"  layout-align="center center" align="center" class="white-color">
      <h1 class="md-display-1 mrg8-T mrg0-B" style="color: #fff;">LOREM IPSUM DOLOR SIT AMET, <br>CONSECTETUR ADIPISCING ELIT</h1>
      <h3 class="md-body-1 mrg8-T">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>
      tempor incididunt ut labore et dolore magna aliqua.</h3>
    </div> -->
  </div>
</section>

<section id="product-info" layout="column">
  <div layout="column" layout-align="start center">
    <h1 class="head-font head-after push-70-t push-20-t-r">Cylinder Liners & Sleeves</h1>
    <img ng-src="/images/banner/Product.jpg">
    <!-- layout="row" layout-wrap flex="100"  -->
    <div id="info-product" class="push-70-t push-20-t-r pd56-L pd56-R pad-l-25 pad-r-25">
      <div flex-xs="100" flex-sm="100" flex="40" class="pad-r-0 pad-l-0 pd32-L pd32-R" style="float: left;">
        <p>&#9655; &nbsp; The products manufactured by PATCO using modern technological machinery and are inspected by expert engineers for any sort of damage. We belive in constant quality upgradation, growth & customer satisfaction. This belive has lead to the devlopment of various new equipment and processes that fullfill the requirments of our customers.</p>
        <p>&#9655; &nbsp; PATCO is now consider one of the leading companies due to its abilites, capacity and presence in the global market. We always try to ensure our quality by our unstoppable development and progress in our production plans and strategies. It as a result of their concentration and devotion that our products come accross the best product in the market. We at Patco are commited by providing quality products, attractive price, timely delivery.</p>
      </div>
      <div flex-xs="100" flex-sm="100" flex="60" class="push-t-20-r" style="float: right;">
        <div layout="row">
          <div flex>
             <img ng-src="/images/liner-description.jpg" class="img-responsive">
          </div>
          <div class="clearfix"></div>
          <div flex>
             <img ng-src="/images/sleeve-discription.png" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="info-specs" layout="row" layout-xs="column" flex="100" class="push-30-t">
      <div flex="5" flex-sm="5" flex-xs="5"></div>
      <div flex-xs="100" flex-sm="100" flex="50">
          <h3>&#9655; &nbsp; Product Specifications</h3>
          <div>
            <table class="mrg24-L">
               <tr class="text-left">
                  <th width="60%" class="text-bold">Dimension</th>
                  <th>Range (in mm)</th>
               </tr>
               <tr class="text-left">
                  <td width="60%">Bore Diameter</td>
                  <td>50 to 158</td>
               </tr>
               <tr>
                  <td>Total Length</td>
                  <td>120 to 370</td>
               </tr>
            </table>
         </div>
        <!--  <h3 class="push-30-t">&#9655; &nbsp; Technical Specifications</h3>
         <strong class="mrg24-L"><u>Material specification standards</u></strong> -->
         <!-- <div class="table-responsive mrg16-T">
            <table class="table border-zero mrg24-L">
               <tr>
                  <td width="50%">India</td>
                  <td>HT200, HT250, HT300</td>
               </tr>
               <tr>
                  <td width="50%">USA</td>
                  <td>NO.30, NO.35, NO.45</td>
               </tr>
               <tr>
                  <td width="50%">Europe</td>
                  <td>GG20, GG25, GG30</td>
               </tr>
               <tr>
                  <td width="50%">Japan</td>
                  <td>FC200, FC250, FC300</td>
               </tr>
            </table>
         </div> -->
         <h3>&#9655; &nbsp; Micro Structure</h3>
         <strong class="mrg24-L">Graphite type:</strong> "A" & "B" ("D" & "E" Random)<br/>
         <strong class="mrg24-L">Flake Size:</strong> 4-6 Microns<br/>
         <strong class="mrg24-L">Free Ferrite:</strong> Less Than 5%<br/>
      </div>
      <div flex-xs="100" flex-sm="100" flex="50">
         <h3>&#9655; &nbsp; Production Capacity</h3>
           <p class="mrg24-L">50,000 pieces per month</p>
           <h3 class="mrg24-L"><u>Finishes</u></h3>
           <p class="mrg24-L">Semi-finished & Fully-finished</p>
           <div class="mrg24-L">
              <table>
                 <tr>
                    <th class="text-left" width="40%">Chemical Composition</th>
                    <th class="text-left" width="30%">Minimum </th>
                    <th class="text-left" width="20%">Maximum </th>
                 </tr>
                 <tr>
                    <td width="50%">Carbon</td>
                    <td width="30%">2.80 </td>
                    <td width="20%">3.50</td>
                 </tr>
                 <tr>
                    <td width="50%">Silicon</td>
                    <td width="30%">1.80</td>
                    <td width="20%">2.50</td>
                 </tr>
                 <tr>
                    <td width="50%">Manganese</td>
                    <td width="30%">0.6</td>
                    <td width="20%">1.00</td>
                 </tr>
                 <tr>
                    <td width="50%">Phosphorus</td>
                    <td width="30%">0.20</td>
                    <td width="20%">0.50</td>
                 </tr>
                 <tr>
                    <td width="50%">Sulphur</td>
                    <td width="30%">0.00</td>
                    <td width="20%">0.12</td>
                 </tr>
              </table>
           </div>
           <p class="mrg24-L">Other than above, we can cast material compositions using Chromium, Molybdenum, Nickel, Copper, Boron or as per customer specifications meeting to international standards.</p>
           <div flex="100" class="mrg24-L">
              <strong flex="50" class="mrg16-R">
                Hardness (BHN)
              </strong>
              <strong flex="50">
                210 to 280
              </strong>                
           </div>
           <div flex="100" class="mrg24-L">  
              <strong flex="50" class="mrg16-R">
                Tensile
              </strong>
              <strong flex="50">
                210 to 275 n/mm2
              </strong>                       
           </div>
      </div>
      <!-- <div flex-gt-md="15" flex-md="10" flex-sm="10"></div>    -->
    </div>
  </div>
</section>

<section id="Online Aftermarket Product Catalog" layout="column" style="background: #f2f2f2;" class="mrg40-T pd48-B push-t-180-r">
  <h2 class="text-center pd24-TB head-font head-after" align="center">Online Aftermarket Product Catalog</h2>
  <div layout="row">
    <div flex-gt-md="15" flex-md="10" flex-sm="10"></div>
    <ul class="no-style" flex layout="row" layout-wrap>
      <li flex="33" flex-xs="50" ng-repeat="model in filterModel(products)">
        <a ng-src="" class="md-body-2">&#9672; &nbsp;&nbsp;&nbsp;&nbsp; {{model}}</a>
      </li>
    </ul>
    <div flex-gt-md="15" flex-md="10" flex-sm="10"></div>
  </div>
</section>

<section id="footer" ng-include="'templates/footer.html'"></section>